@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron text-center">
    <h1 style="color:grey">Bookstore</h1>
    <div class="row">
        <div class="col-12 col-md-6">
            <img class="lead" src="https://image.freepik.com/free-psd/three-books-mockup_125540-1118.jpg" style="width:100%;height:300px;" />
        </div>
        <div class="col-12 col-md-6">
            <img class="lead" src="https://image.freepik.com/free-psd/book-cover-mockup_125540-453.jpg" style="width:100%;height:300px;" />
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            When they entered the main bookstore, she stopped.

            You still can buy it from the government's bookstore; a recent one ran about two thousand pages and cost about $200.

            She caught the keys and gazed up at him, lost, until he indicated the bookstore with a nod of his head.

            Just west of the intersection, he pulled up to Cimarron Books, a small combination bookstore and coffee shop.

            Jessi trailed him into the back of the bookstore.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">More sentences → &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>
            Important Information
            We are pleased to offer “direct to home” shipping from the warehouse through our website.

            We will process your online orders within 24-48 hours during our regular operating hours and emails and voicemails will be responded to as quickly as possible.

            CLICK HERE TO SHOP

            The cart will be outside from 11-5

            PM Tuesday-Saturday. Please feel free to wave to say hello because we miss our customers!
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866"> TO BROWSE, CLICK HERE &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Curbside Pickup Instructions</h2>
        <p>            
            Please place your order on our website and select "curbside pickup" as the delivery option. 
            Our staff will process your order and send you an email letting you know that we are expecting
            your books in our store soon. When the books arrive, a staff member will place your order in a
            [words] bag with your name clearly written at the top, and we then will send you an email that your books are ready. 
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>